<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>list_TireStatus</key>
    <array>
    <string>OK</string>
    <string>Нет инфо</string>
    <string>Перекачана</string>
    <string>-</string>
    <string>Пустая</string>
    <string>Пустая</string>
    <string>Недокачана</string>
    <string>-</string>
    </array>
    <key>list_AuxStatus</key>
    <array>
    <string>Нет</string>
    <string>1</string>
    <string>2</string>
    <string>Скоро</string>
    <string>4</string>
    <string>Сейчас</string>
    <string>6</string>
    <string>7</string>
    </array>
    <key>list_PtcRelay</key>
    <array>
    <string>Вкл.</string>
    <string>Выкл.</string>
    </array>
    <key>list_MainsCurrentType</key>
    <array>
    <string>Ошибка</string>
    <string>AC монофазная</string>
    <string>AC трёфазная</string>
    <string>DC</string>
    <string>AC двухфазная</string>
    </array>
    <key>list_ChargingStatus</key>
    <array>
    <string>Не заряжается</string>
    <string>Ожидание (запланованное)</string>
    <string>Завершено</string>
    <string>В процессе</string>
    <string>Ошибка</string>
    <string>Ожидание</string>
    <string>Лючок открыт</string>
    <string>Недоступно</string>
    </array>
    <key>list_PlugStatus</key>
    <array>
    <string>Не подключено</string>
    <string>Подключено</string>
    </array>
    <key>list_VehicleState</key>
    <array>
    <string>Спит, выкл. (0:красный)</string>
    <string>Не спит, выкл. (1:зелёный)</string>
    <string>Зажигание вкл. (2:синий)</string>
    <string>Запускается (3:жёлтый)</string>
    <string>Не спит, вкл. (4:голубой)</string>
    <string>5</string>
    <string>6</string>
    <string>7</string>
    </array>
    <key>list_VehicleStatePh2</key>
    <array>
    <string>Спит, выкл. (0:красный)</string>
    <string>Не спит, выкл. (1:зелёный)</string>
    <string>Ожидает режим сна (2:синий)</string>
    <string>Питание бортовой сети (3:жёлтый)</string>
    <string>4</string>
    <string>Зажигание вкл.</string>
    <string>Запускается</string>
    <string>Мотор активен</string>
    <string>Автозапуск</string>
    <string>Остановка мотора</string>
    <string>10</string>
    <string>11</string>
    <string>12</string>
    <string>13</string>
    <string>14</string>
    <string>15</string>
    </array>
    <key>list_ChargingStatus2</key>
    <array>
    <string>Не заряджается (0:красный)</string>
    <string>Ожидание (запланованное, 1:зелёный)</string>
    <string>Завершено (2:синий)</string>
    <string>В процессе (3:жёлтый)</string>
    <string>Ошибка (4:голубой)</string>
    <string>Ожидание (5:фиолетовый)</string>
    <string>Лючок открыт (6:чёрный)</string>
    <string>Недоступно (7:серый)</string>
    </array>
    <key>list_ChargingHistEnd</key>
    <array>
    <string>Полный</string>
    <string>Отключено</string>
    <string>Обесточено</string>
    <string>Не удалось</string>
    <string>По графику</string>
    <string>Ошибка 1</string>
    <string>Ошибка 22</string>
    <string>Ошибка 3</string>
    <string>Ошибка 4</string>
    <string>Ошибка 5</string>
    <string>Ошибка 6</string>
    </array>
    <key>list_ChargingHistTyp</key>
    <array>
    <string>Медлен.</string>
    <string>Быстр.</string>
    <string>Замена</string>
    <string>Неизв.</string>
    <string>План.</string>
    </array>
    <key>list_SupervisorState</key>
    <array>
    <string>Начало</string>
    <string>Ожидание</string>
    <string>Замыкание S2</string>
    <string>Иниц. Типа</string>
    <string>Иниц. Утечки</string>
    <string>Иніц. Заряда</string>
    <string>Зарядка</string>
    <string>Режим нуля ампер</string>
    <string>Конец зарядки</string>
    <string>Размыкание S2</string>
    <string>Готовность ко сну</string>
    <string>Аварийная остановка</string>
    <string>InitChargeDF</string>
    <string>OCPStop</string>
    <string>Ожидание S2</string>
    </array>
    <key>list_SupervisorStatePh2</key>
    <array>
    <string>Начало</string>
    <string>StandByPowerOn</string>
    <string>Замыкание S2</string>
    <string>Иниц. Типа</string>
    <string>Иниц. Утечки</string>
    <string>StandByPowerOnSetup</string>
    <string>Зарядка</string>
    <string>Режим нуля ампер</string>
    <string>Конец зарядки</string>
    <string>OpeningRL</string>
    <string>STestOK</string>
    <string>-</string>
    <string>STestWait</string>
    <string>STestAct</string>
    <string>WaitRLCHA</string>
    <string>WaitRLContactorTri</string>
    <string>OpeningCapaMC</string>
    <string>-</string>
    </array>
    <key>list_CoolingStatus</key>
    <array>
    <string>Нет</string>
    <string>Только охлаждение</string>
    <string>Объединенное охлаждение</string>
    <string>Недоступно</string>
    </array>
    <key>list_ConditioningStatus</key>
    <array>
    <string>Необходима вентиляция</string>
    <string>Необходимо охлаждение</string>
    <string>Необходим подогрев</string>
    <string>Кондиционирование ненужно</string>
    </array>
    <key>list_ConditioningStatusPh2</key>
    <array>
    <string>Нет</string>
    <string>Объединенное охлаждение салона воздухом</string>
    <string>Объединенное охлаждение батареи воздухом</string>
    <string>Только охлаждение батареи воздухом</string>
    <string>Объединенное охлаждение салона</string>
    </array>
    <key>list_ClimateStatus</key>
    <array>
    <string>Недступно</string>
    <string>Кондиционер</string>
    <string>Кондиционер (разморозка)</string>
    <string> </string>
    <string>Тепловой насос</string>
    <string> </string>
    <string>Распотевание</string>
    <string>Режим простоя</string>
    </array>
    <key>list_ClimateStatusPh2</key>
    <array>
    <string>Недступно</string>
    <string>Кондиционер</string>
    <string>Кондиционер (разморозка)</string>
    <string>От кондиционера к тепловому насосу</string>
    <string>Тепловой насос</string>
    <string>От теплового насоса к кондиционеру</string>
    <string>-</string>
    <string>Режим простоя</string>
    </array>
    <key>list_CompletionStatus</key>
    <array>
    <string>Начало</string>
    <string>ВЧ10</string>
    <string>-</string>
    <string>Проблема с заземлением</string>
    <string>-</string>
    <string>Ток в заземление</string>
    <string>-</string>
    <string>-</string>
    <string>-</string>
    <string>Проблема с массой</string>
    <string>-</string>
    <string>-</string>
    <string>-</string>
    <string>-</string>
    <string>-</string>
    <string>-</string>
    <string>-</string>
    <string>Утечка DC</string>
    <string>-</string>
    <string>-</string>
    <string>-</string>
    <string>-</string>
    <string>-</string>
    <string>-</string>
    <string>-</string>
    <string>-</string>
    <string>-</string>
    <string>-</string>
    <string>-</string>
    <string>-</string>
    <string>-</string>
    <string>-</string>
    <string>Утечка НЧ</string>
    <string>-</string>
    <string>-</string>
    <string>-</string>
    <string>-</string>
    <string>-</string>
    <string>-</string>
    <string>-</string>
    <string>-</string>
    <string>-</string>
    <string>-</string>
    <string>-</string>
    <string>-</string>
    <string>-</string>
    <string>-</string>
    <string>-</string>
    <string>-</string>
    <string>Утечка DC+НЧ</string>
    <string>-</string>
    <string>-</string>
    <string>-</string>
    <string>-</string>
    <string>-</string>
    <string>-</string>
    <string>-</string>
    <string>-</string>
    <string>-</string>
    <string>-</string>
    <string>-</string>
    <string>-</string>
    <string>-</string>
    <string>-</string>
    <string>-</string>
    <string>Утечка ВЧ</string>
    <string>-</string>
    <string>-</string>
    <string>-</string>
    <string>-</string>
    <string>-</string>
    <string>-</string>
    <string>-</string>
    <string>-</string>
    <string>-</string>
    <string>-</string>
    <string>-</string>
    <string>-</string>
    <string>-</string>
    <string>-</string>
    <string>-</string>
    <string>Утечка DC+ВЧ</string>
    <string>-</string>
    <string>-</string>
    <string>-</string>
    <string>-</string>
    <string>-</string>
    <string>-</string>
    <string>-</string>
    <string>-</string>
    <string>-</string>
    <string>-</string>
    <string>-</string>
    <string>-</string>
    <string>-</string>
    <string>-</string>
    <string>-</string>
    <string>Утечка НЧ+ВЧ</string>
    <string>-</string>
    <string>-</string>
    <string>-</string>
    <string>-</string>
    <string>-</string>
    <string>-</string>
    <string>-</string>
    <string>-</string>
    <string>-</string>
    <string>-</string>
    <string>-</string>
    <string>-</string>
    <string>-</string>
    <string>-</string>
    <string>-</string>
    <string>Утечка DC+НЧ+ВЧ</string>
    </array>
    <key>list_CPLCComStatus</key>
    <array>
    <string>Связь HLC не установлена</string>
    <string>Начало связи HLC</string>
    <string>Связь HLC готова - безопасный режим</string>
    <string>Связь HLC остановлена</string>
    <string>Ошибка связи HLCr</string>
    <string>Связь HLC готова - небезопасный режим</string>
    <string>Не используется</string>
    <string>Недоступное значение[начальное значение]</string>
    <string>Связь HLC не готова - ошибка установки TLS</string>
    <string>Связь HLC не готова - таймаут TLS</string>
    <string>Связь HLC не готова - TLS не поддерживается</string>
    <string>Связь HLC не готова - таймаут SDP</string>
    <string>Связь HLC не готова - версия ISO-2 не поддерживается</string>
    <string>Связь HLC не готова - таймаут установки V2G</string>
    <string>Связь HLC не готова - ошибка V2G</string>
    </array>
    <key>list_EVReady</key>
    <array>
    <string>ЭМ не готов к зарядке</string>
    <string>ЭМ готов к зарядке</string>
    </array>
    <key>list_EVSELimitReached</key>
    <array>
    <string>Нет</string>
    <string>Да</string>
    </array>
    <key>list_EVRequestState</key>
    <array>
    <string>Нет запроса по HLC</string>
    <string>Запрос настроек связи и сервисов</string>
    <string>Запрос обнаружения параметров зарядки</string>
    <string>Запрос проверки кабеля</string>
    <string>Запрос предварительнй зарядки</string>
    <string>Запрос подключения мощности</string>
    <string>Запрос заказа тока</string>
    <string>Запрос показаний счётчика</string>
    <string>Запрос проверки сплавления контактов</string>
    <string>Запрос остановки сессии</string>
    <string>Сброс паросочетания</string>
    <string>Запрос состояния зарядки</string>
    <string>AC BPT</string>
    <string>DC BPT</string>
    </array>
    <key>list_EVSEState</key>
    <array>
    <string>Связь HLC не установлена</string>
    <string>Установлены настройки связи и сервисов</string>
    <string>Ответ обнаружения параметров зарядки</string>
    <string>Ответ проверки кабеля</string>
    <string>Ответ предварительной зарядки</string>
    <string>Ответ подключения мощности</string>
    <string>Ответ заказа тока</string>
    <string>Ответ показаний счётчика</string>
    <string>Ответ проверки сплавления контактов</string>
    <string>Ответ остановки сессии</string>
    <string>Ответ состояния зарядки</string>
    </array>
    <key>list_EVSEFailureStatus</key>
    <array>
    <string>Нет ошибки</string>
    <string>Истекает срок действия сертификата</string>
    <string>ОШИБКА Срок действия сертификата истёк</string>
    <string>ОШИБКА Договор разорван</string>
    <string>ОШИБКА Сертификат отозван</string>
    <string>ОШИБКА Сертификат не разрешен на этой станции</string>
    <string>ОШИБКА Отсутствует сертификат</string>
    <string>ОШИБКА Неправильный режим передачи энергии</string>
    <string>ОШИБКА Неправильный параметр зарядки</string>
    <string>ОШИБКА Неправильный профиль зарядки</string>
    <string>ОШИБКА Неправильный идентификатор сервиса</string>
    <string>ОШИБКА Неизвестная сессия</string>
    <string>ОШИБКА Неправильный выбор сервиса</string>
    <string>ОШИБКА Неправильный выбор тарифа</string>
    <string>ОШИБКА Неправильный выбор оплаты</string>
    <string>ОШИБКА Ошибка в цепи сертификатов</string>
    <string>ОШИБКА Неправильный ответ</string>
    <string>ОШИБКА Неверная подпись показаний счётчика</string>
    <string>ОШИБКА Не выбран сервис зарядки</string>
    <string>ОШИБКА Ошибка коду последовательности</string>
    <string>ОШИБКА Ошибка подписи</string>
    <string>ОШИБКА Отсутствует сертификат</string>
    <string>ОШИБКА Не применено подключение мощности</string>
    <string>ОШИБКА</string>
    <string>ОШИБКА Ошибка контактора</string>
    </array>
    <key>list_EVSEStatus</key>
    <array>
    <string>Ок</string>
    <string>Станция не готова</string>
    <string>Станция выключается</string>
    <string>Перерыв работы электросети</string>
    <string>Мониторинг изоляции в процессе</string>
    <string>Аварийное отключение</string>
    <string>Неисправность</string>
    <string>Зарезервировано 8-C</string>
    <string>Необходима повторная установка связи</string>
    </array>
</dict>
</plist>

