<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>list_VehicleState</key>
	<array>
		<string>En sommeil, arrêt (0 : rouge)</string>
		<string>En éveil, arrêt (1 : vert)</string>
		<string>Moteur actif (2 : bleu)</string>
		<string>Démarrage (3 : jaune)</string>
		<string>En éveil, marche (4 : cyan)</string>
		<string>5</string>
		<string>6</string>
		<string>7</string>
	</array>
	<key>list_ChargingStatus2</key>
	<array>
		<string>Pas en charge (0 : rouge)</string>
		<string>En attente (planifié, 1 : vert)</string>
		<string>Terminé (2 : bleu)</string>
		<string>En cours (3 : jaune)</string>
		<string>Défaut (4 : cyan)</string>
		<string>En attente (5 : violet)</string>
		<string>Trappe ouverte (6 : noir)</string>
		<string>Indisponible (7 : gris)</string>
	</array>
	<key>list_AuxStatus</key>
	<array>
		<string>Pas nécessaire</string>
		<string>1</string>
		<string>2</string>
		<string>À prévoir bientôt</string>
		<string>4</string>
		<string>À faire</string>
		<string>6</string>
		<string>7</string>
	</array>
	<key>list_MainsCurrentType</key>
	<array>
		<string>Erreur</string>
		<string>AC mono</string>
		<string>AC tri</string>
		<string>DC</string>
		<string>AC bi</string>
	</array>
	<key>list_CompletionStatus</key>
	<array>
		<string>Init</string>
		<string>HF10</string>
		<string>-</string>
		<string>Déf. masse réseau</string>
		<string>-</string>
		<string>Déf. cour. terre</string>
		<string>-</string>
		<string>-</string>
		<string>-</string>
		<string>Déf. de masse</string>
		<string>-</string>
		<string>-</string>
		<string>-</string>
		<string>-</string>
		<string>-</string>
		<string>-</string>
		<string>-</string>
		<string>Fuite rés. DC</string>
		<string>-</string>
		<string>-</string>
		<string>-</string>
		<string>-</string>
		<string>-</string>
		<string>-</string>
		<string>-</string>
		<string>-</string>
		<string>-</string>
		<string>-</string>
		<string>-</string>
		<string>-</string>
		<string>-</string>
		<string>-</string>
		<string>Fuite rés. BF</string>
		<string>-</string>
		<string>-</string>
		<string>-</string>
		<string>-</string>
		<string>-</string>
		<string>-</string>
		<string>-</string>
		<string>-</string>
		<string>-</string>
		<string>-</string>
		<string>-</string>
		<string>-</string>
		<string>-</string>
		<string>-</string>
		<string>-</string>
		<string>-</string>
		<string>Fuite rés. DC+BF</string>
		<string>-</string>
		<string>-</string>
		<string>-</string>
		<string>-</string>
		<string>-</string>
		<string>-</string>
		<string>-</string>
		<string>-</string>
		<string>-</string>
		<string>-</string>
		<string>-</string>
		<string>-</string>
		<string>-</string>
		<string>-</string>
		<string>-</string>
		<string>Fuite rés. HF</string>
		<string>-</string>
		<string>-</string>
		<string>-</string>
		<string>-</string>
		<string>-</string>
		<string>-</string>
		<string>-</string>
		<string>-</string>
		<string>-</string>
		<string>-</string>
		<string>-</string>
		<string>-</string>
		<string>-</string>
		<string>-</string>
		<string>-</string>
		<string>Fuite rés. DC+HF</string>
		<string>-</string>
		<string>-</string>
		<string>-</string>
		<string>-</string>
		<string>-</string>
		<string>-</string>
		<string>-</string>
		<string>-</string>
		<string>-</string>
		<string>-</string>
		<string>-</string>
		<string>-</string>
		<string>-</string>
		<string>-</string>
		<string>-</string>
		<string>Fuite rés. BF+HF</string>
		<string>-</string>
		<string>-</string>
		<string>-</string>
		<string>-</string>
		<string>-</string>
		<string>-</string>
		<string>-</string>
		<string>-</string>
		<string>-</string>
		<string>-</string>
		<string>-</string>
		<string>-</string>
		<string>-</string>
		<string>-</string>
		<string>-</string>
		<string>Fuite rés. DC+BF+HF</string>
	</array>
	<key>list_SupervisorState</key>
	<array>
		<string>Init</string>
		<string>Attente</string>
		<string>FermetureS2</string>
		<string>InitType</string>
		<string>InitLkg</string>
		<string>InitChg</string>
		<string>Charge</string>
		<string>ModeZéroAmp</string>
		<string>FinDeCharge</string>
		<string>OuvertureS2</string>
		<string>ReadyToSleep</string>
		<string>ArrêtUrgence</string>
		<string>InitChargeDF</string>
		<string>OCPStop</string>
		<string>AttenteS2</string>
	</array>
	<key>list_ChargingStatus</key>
	<array>
		<string>Pas en charge</string>
		<string>En attente (planifiée)</string>
		<string>Terminée</string>
		<string>En cours</string>
		<string>Erreur</string>
		<string>En attente</string>
		<string>Trappe ouverte</string>
		<string>Indisponible</string>
	</array>
	<key>list_PlugStatus</key>
	<array>
		<string>Déconnectée</string>
		<string>Connectée</string>
	</array>
	<key>list_ChargingHistEnd</key>
	<array>
		<string>Chargé</string>
		<string>Câble débranché</string>
		<string>Réseau</string>
		<string>Défaut</string>
		<string>Plan.</string>
		<string>Flt1</string>
		<string>Flt22</string>
		<string>Flt3</string>
		<string>Flt4</string>
		<string>Flt5</string>
		<string>Flt6</string>
	</array>
	<key>list_ChargingHistTyp</key>
	<array>
		<string>Lente</string>
		<string>Rap.</string>
		<string>Échge</string>
		<string>Inc.</string>
		<string>Plan.</string>
	</array>
	<key>list_CoolingStatus</key>
	<array>
		<string>Aucun</string>
		<string>Refroidissement uniquement</string>
		<string>Refroidissement couplé</string>
		<string>Indisponible</string>
	</array>
	<key>list_ConditioningStatus</key>
	<array>
		<string>Demande de ventilation</string>
		<string>Refroidissement demandé</string>
		<string>Chauffage demandé</string>
		<string>Conditionnement non requis</string>
	</array>
	<key>list_ClimateStatus</key>
	<array>
		<string>Indisponible</string>
		<string>A/C</string>
		<string>A/C dégivrage</string>
		<string>Pompe à chaleur</string>
		<string>Dégivrage</string>
		<string>Ralenti</string>
	</array>
	<key>list_PtcRelay</key>
	<array>
		<string>Marche</string>
		<string>Arrêt</string>
	</array>
	<key>list_TireStatus</key>
	<array>
		<string>OK</string>
		<string>Pas d’infos</string>
		<string>Surgonflé</string>
		<string>-</string>
		<string>À plat</string>
		<string>À plat</string>
		<string>Sous gonflé</string>
		<string>-</string>
	</array>
	<key>list_EVSEStatus</key>
	<array>
		<string>Ok</string>
		<string>EVSEnotReady</string>
		<string>EVSEShutdown</string>
		<string>EVSE_UtilityInterruptEvent</string>
		<string>EVSE_IsolationMonitoringActive</string>
		<string>EVSE_EmergencyShutdown</string>
		<string>EVSE_Malfunction</string>
		<string>Reserved 8-C</string>
		<string>Renegotiate</string>
	</array>
	<key>list_VehicleStatePh2</key>
	<array>
		<string>Asleep, off (0:red)</string>
		<string>Awake, off (1:green)</string>
		<string>Sleep mode pending (2:blue)</string>
		<string>AutoACC (3:yellow)</string>
		<string>4</string>
		<string>Ignition on</string>
		<string>Starting in process</string>
		<string>Engine active</string>
		<string>Autostart</string>
		<string>Engine stop</string>
		<string>10</string>
		<string>11</string>
		<string>12</string>
		<string>13</string>
		<string>14</string>
		<string>15</string>
	</array>
	<key>list_SupervisorStatePh2</key>
	<array>
		<string>Init</string>
		<string>StandByPowerOn</string>
		<string>ClosingS2</string>
		<string>InitType</string>
		<string>Initlkg</string>
		<string>StandByPowerOnSetup</string>
		<string>Charge</string>
		<string>ZeroAmpMode</string>
		<string>EndOfCharge</string>
		<string>OpeningRL</string>
		<string>STestOK</string>
		<string>-</string>
		<string>STestWait</string>
		<string>STestAct</string>
		<string>WaitRLCHA</string>
		<string>WaitRLContactorTri</string>
		<string>OpeningCapaMC</string>
		<string>-</string>
	</array>
	<key>list_EVSEFailureStatus</key>
	<array>
		<string>Ok</string>
		<string>OK_CertificateExpiresSoon</string>
		<string>FAILED_CertificateExpired</string>
		<string>FAILED_ContractCanceled</string>
		<string>FAILED_CertificateRevoked</string>
		<string>FAILED_CertificateNotAllowedAtThisEVSE</string>
		<string>FAILED_NoCertificate Available</string>
		<string>FAILED_WrongEnergyTransferMode</string>
		<string>FAILED_WrongChargeParameter</string>
		<string>FAILED_ChargingProfileInvalid</string>
		<string>FAILED_ServiceIDInvalid</string>
		<string>FAILED_UnknownSession</string>
		<string>FAILED_ServiceSelectionInvalid</string>
		<string>FAILED_TariffSelectionInvalid</string>
		<string>FAILED_PaymentSelectionInvalid</string>
		<string>FAILED_CertChainError</string>
		<string>FAILED_ChallengeInvalid</string>
		<string>FAILED_MeteringSignatureNotValid</string>
		<string>FAILED_NoChargeServiceSelected</string>
		<string>FAILED_SequenceError</string>
		<string>FAILED_SignatureError</string>
		<string>FAILED_NoCertificateAvailable</string>
		<string>FAILED_PowerDeliveryNotApplied</string>
		<string>FAILED</string>
		<string>FAILED_ContactorError</string>
	</array>
	<key>list_EVReady</key>
	<array>
		<string>EV isn\&apos;t ready to charge</string>
		<string>EV is ready to charge</string>
	</array>
	<key>list_CPLCComStatus</key>
	<array>
		<string>No HLC communication is established</string>
		<string>HLC communication is initializing</string>
		<string>HLC communication is ready - secured mode</string>
		<string>HLC communication is stopped</string>
		<string>HLC communication error</string>
		<string>HLC Communication is ready - not secured mode</string>
		<string>Not used</string>
		<string>Unavailable Value[initial value]</string>
		<string>HLC Communication is not ready- TLS setup failed</string>
		<string>HLC Communication is not ready- TLS timeout</string>
		<string>HLC Communication is not ready- TLS not supported</string>
		<string>HLC Communication is not ready- SDP timeout</string>
		<string>HLC Communication is not ready- not supported ISO-2 version</string>
		<string>HLC Communication is not ready- V2G setup timeout</string>
		<string>HLC Communication is not ready- V2G failed</string>
	</array>
	<key>list_EVRequestState</key>
	<array>
		<string>No HLC Request</string>
		<string>Communication and service setting request</string>
		<string>Charge parameter discovery request</string>
		<string>Cable Check request</string>
		<string>Precharge request</string>
		<string>Power delivery request</string>
		<string>Current demand request</string>
		<string>Metering receipt request</string>
		<string>Welding detection request</string>
		<string>Session stop request</string>
		<string>Matching Reset</string>
		<string>Charging Status request</string>
		<string>AC BPT</string>
		<string>DC BPT</string>
	</array>
	<key>list_EVSEState</key>
	<array>
		<string>No HLC communication is established</string>
		<string>Communication and service setting is established</string>
		<string>Charge parameter discovery response</string>
		<string>CableCheck response</string>
		<string>Precharge response</string>
		<string>Power delivery response</string>
		<string>Current demand response</string>
		<string>Metering receipt response</string>
		<string>Welding detection response</string>
		<string>Session stop response with EVSE(station charging)</string>
		<string>Charging Status response</string>
	</array>
	<key>list_EVSELimitReached</key>
	<array>
		<string>No</string>
		<string>Yes</string>
	</array>
	<key>list_ConditioningStatusPh2</key>
	<array>
		<string>NoRequest</string>
		<string>CoolCabinCoupleByAir</string>
		<string>CoolBattCoupleByAir</string>
		<string>CoolBattAloneByAir</string>
		<string>CoolCabinCouple</string>
	</array>
	<key>list_ClimateStatusPh2</key>
	<array>
		<string>Unavailable</string>
		<string>AC</string>
		<string>AC deicing</string>
		<string>AC to heat pump</string>
		<string>Heat pump</string>
		<string>Heat pump to AC</string>
		<string>-</string>
		<string>Idle mode</string>
	</array>
</dict>
</plist>
